body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23em;
  height: 20em;
  background-color: #f2d6de;
}

/* .anniversaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: arial, serif;
    font-weight: 400;
    font-size: 0.875em; */
/* } */

h1 {
  color: #0f4d2a;
  font-family: Impact, serif;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0.625em;
  letter-spacing: 0.08em;
}

h2 {
  margin: 0;
  padding-bottom: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 600;
  color: #0f4d2a;
}

#historicalContainer {
  margin-top: 15px;
}

main {
  padding: 1.56em;
}

#mainContainer {
  display: flex;
}

.buttonSearch {
  display: flex;
}

#previous {
  margin: 0.8em;
  padding: 0.5em;
  background-color: #f2d6de;
  border-color: #f2d6de;
  box-shadow: none;
  border: 0 none;
}

#next {
  margin: 0.8em;
  padding: 0.5em;
  background-color: #f2d6de;
  border-color: #f2d6de;
  box-shadow: none;
  border: 0 none;
}

#historicalFact {
  padding-top: 0.625em;
  width: 18em;
  text-align: justify;
}

/* h3 {
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 600;
  color: #0f4d2a;
} */

.underline-box {
  padding: 0.5px;
  border-bottom: 1px solid black;
  width: max-content;
}

#intro {
  font-family: Arial, Helvetica, sans-serif;
  color: #0f4d2a;
}

/* button {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #e888a3;
} */
